#footer {
    clear: both;
    position: relative;
    /*height: 40px;*/
    margin-top: -40px !important;
}


.text-red {
	color: red !important;
}

.isActive {
	
}


.white-text {
	color: #fff !important;
    text-align: center; 
    vertical-align: middle;
}

.white {
    color: #fff !important;
}

.borderless td, .borderless th {
    border: none;
}

@media print {
  body * {
    visibility: hidden;
  }
  #printArea, #printArea * {
    visibility: visible;
  }
  #printArea {
    width: 100%;
    height:100%;
    position:absolute;
    top:-150px !important;
    bottom:0px;
    margin: auto;
  }
  .hidden-on-print {
    visibility: hidden !important;
  }

}