#footer {
    clear: both;
    position: relative;
    /*height: 40px;*/
    margin-top: -40px !important;
}


.text-red {
	color: red !important;
}

.isActive {
	
}


.white-text {
	color: #fff !important;
    text-align: center; 
    vertical-align: middle;
}

.white {
    color: #fff !important;
}

@media print {
  body *, #printButton {
    visibility: hidden;
  }
  #printArea, #printArea * {
    visibility: visible;
  }
  #printArea {
    position: absolute;
    left: 0;
    top: 0;
  }
  #printButton {
    visibility: hidden;
  }
}