#footer {
    clear: both;
    position: relative;
    /*height: 40px;*/
    margin-top: -40px !important;
}


.text-red {
	color: red !important;
}

.isActive {
	
}

/*a[href]:after {
  content: " (" attr(href) ")";
}*/

@media only print {
	a[href]:after {
	  content: "";
	}
}